<ion-header translucent="true">

    <ion-toolbar style="background-color: #F8F9FB;" color="#F8F9FB">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>
            Cadastro Pessoa
        </ion-title>
        <!-- Img android -->
        <!-- <img src="./../../../assets/img/hackathon/logo.png" alt=""> -->

    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-list>
        <ion-item *ngFor="let note of notes" (click)="openNote(note)">
            <ion-label>
                {{ note.nome }}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="notes.length == 0">
        <ion-label style="display: flex; justify-content: center;"> Sem Pessoas Adicionadas</ion-label>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNote()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>