.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.support-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.login-logo {
  padding-right: 10px;
  padding-bottom: 85px;
  padding-left: 0px;
  padding-top: 100px;
  min-height: 10px;
  text-align: center;
}